<mat-toolbar>
    <a mat-button color="primary" [routerLink]="['/events']" aria-label="Back to events"> <mat-icon>arrow_back</mat-icon> Todos los eventos</a>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end" animationDuration="0ms">
   
    <mat-tab label="Castellano">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{event?.nameEs}}</mat-card-title>
              <mat-card-subtitle>
                <mat-chip-set>
                    <mat-chip>
                        {{event?.typeEs}}
                    </mat-chip>
                    <mat-chip *ngIf="event?.companyEs">
                        {{event?.companyEs}}
                    </mat-chip>
                    <mat-chip *ngIf="event?.language">
                        {{event?.language}}
                    </mat-chip>
                    <mat-chip  *ngIf="event?.online">
                        Online
                    </mat-chip>
                  </mat-chip-set>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <div fxFlex="row"  fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center start" fxLayoutGap="10px">
                    <a mat-button href="{{event?.sourceUrlEs}}" target="_blank">Fuente: {{event?.sourceNameEs}}</a>
                    <div fxLayout="row"  fxLayout.s="column" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutAlign.s="center start" fxLayoutAlign.xs="center start" fxLayoutGap="10px">
                        <span style="padding:0 5px;">{{event?.startDate | date:"dd / MM / yyyy"}}  <span *ngIf="event?.openingHoursEs"> ({{event?.openingHoursEs}})</span></span>
                        <span style="padding:0 5px;">{{event?.priceEs}}</span>
                        <a mat-button mat-raised-button color="primary" href="{{event?.purchaseUrlEs}}" target="_blank">COMPRAR ENTRADAS</a>
                    </div>
                </div>
            </mat-card-actions>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p [innerHTML]="event?.descriptionEs"></p>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Mostrar todos los detalles
                            </mat-panel-title>
                            <mat-panel-description>
                                Municipio, establecimiento, imágenes...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <h3>Municipio</h3>
                        <p>Nombre: {{event?.municipalityEs}}</p>
                        <p>Longitud: {{event?.municipalityLongitude}}</p>
                        <p>Latitud: {{event?.municipalityLatitude}}</p>

                        <mat-divider></mat-divider>
                        <h3>Establecimiento</h3>
                        <p>Nombre: {{event?.establishmentEs}}</p>
                        <p *ngIf="event?.placeEs">Dirección: {{event?.placeEs}}</p>
                        <p>Visita página web: <a mat-button color="primary" href="{{event?.urlEventEs}}" target="_blank">{{event?.urlNameEs}}</a></p>
                        
                        <div *ngIf="event.images.length !== 0">
                            <mat-divider></mat-divider>
                            <h3>Imágenes</h3>
                            <ng-container *ngFor="let image of event.images">
                                <p>{{image.imageFileName}}</p>
                            <p>{{image.sourceImageEs}}</p>
                            <a mat-button color="primary" href="{{image.imageUrl}}" target="_blank">{{image.imageUrl}}</a>
                                <img src="{{image.imageUrl}}" alt="{{image.sourceImageEs}}">
                            </ng-container>
                        </div>

                        <mat-divider></mat-divider>
                        <h3>Fecha de publicación</h3>
                        <p>{{event?.publicationDate | date:"dd / MM / yyyy"}}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
          </mat-card>
    
    </mat-tab>
    <mat-tab label="Euskara">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{event?.nameEu}}</mat-card-title>
              <mat-card-subtitle>
                <mat-chip-set>
                    <mat-chip>
                        {{event?.typeEu}}
                    </mat-chip>
                    <mat-chip *ngIf="event?.companyEu">
                        {{event?.companyEu}}
                    </mat-chip>
                    <mat-chip *ngIf="event?.language">
                        {{event?.language}}
                    </mat-chip>
                    <mat-chip  *ngIf="event?.online">
                        Online
                    </mat-chip>
                  </mat-chip-set>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <div fxFlex="row"  fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center start" fxLayoutGap="10px">
                    <a mat-button href="{{event?.sourceUrlEu}}" target="_blank">Iturria: {{event?.sourceNameEu}}</a>
                    <div fxLayout="row"  fxLayout.s="column" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutAlign.s="center start" fxLayoutAlign.xs="center start" fxLayoutGap="10px">
                        <span style="padding:0 5px;">{{event?.startDate | date:"yyyy / MM / dd"}}  <span *ngIf="event?.openingHoursEu"> ({{event?.openingHoursEu}})</span></span>
                        <span style="padding:0 5px;">{{event?.priceEu}}</span>
                        <a mat-button mat-raised-button color="primary" href="{{event?.purchaseUrlEu}}" target="_blank">SARRERAK EROSI</a>
                    </div>
                </div>
            </mat-card-actions>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p [innerHTML]="event?.descriptionEu"></p>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Erakutsi xehetasun guztiak
                            </mat-panel-title>
                            <mat-panel-description>
                                Herria, tokia, irudiak...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <h3>Herria</h3>
                        <p>Izena: {{event?.municipalityEu}}</p>
                        <p>Longitudea: {{event?.municipalityLongitude}}</p>
                        <p>Latitudea: {{event?.municipalityLatitude}}</p>

                        <mat-divider></mat-divider>
                        <h3>Tokia</h3>
                        <p>Izena: {{event?.establishmentEu}}</p>
                        <p *ngIf="event?.placeEu">Helbidea: {{event?.placeEu}}</p>
                        <p>Joan web orrira: <a mat-button color="primary" href="{{event?.urlEventEu}}" target="_blank">{{event?.urlNameEu}}</a></p>
                        
                        <div *ngIf="event.images.length !== 0">
                            <mat-divider></mat-divider>
                            <h3>Irudiak</h3>
                            <ng-container *ngFor="let image of event.images">
                                <p>{{image.imageFileName}}</p>
                                <p>{{image.sourceImageEu}}</p>
                                <a mat-button color="primary" href="{{image.imageUrl}}" target="_blank">{{image.imageUrl}}</a>
                                <img src="{{image.imageUrl}}" alt="{{image.sourceImageEs}}">
                            </ng-container>
                        </div>

                        <mat-divider></mat-divider>
                        <h3>Argitaratze data</h3>
                        <p>{{event?.publicationDate | date:"yyyy / MM / dd"}}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
          </mat-card>
    </mat-tab>
  </mat-tab-group>